<%= stylesheet_link_tag 'log', :media=> 'all' %>

<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
            <%= render 'foto'%>
            <h1>My Fotos</h1>
            <div class="foto_avatar">
                
            </div>
        </div>        
	</div>
</div>