<%= stylesheet_link_tag 'log', :media=> 'all' %>

<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
            <%= image_tag current_user.avatar.url, :size => "250x200"%>            
        </div>        
	</div>
</div>