$("#description").html("<%=escape_javascript(render(:partial=>"africa_description_capital")) %>");
$("#info").remove();
var name_capital = $("#capital").find("option:selected").val();
$("#description").after("<br/><a id='info' href='#' >Більше інформації про " + name_capital + "</a>");