$(".description_about_city").html("<%=escape_javascript(render(:partial=>"description_city")) %>");
$(".description_about_city").show();
$(".description").hide();
$("#info").remove();
var name_city = $("#city").find("option:selected").val();
$("#city").after("<div id='info'><a href='/city/"+ name_city +"' >Більше інформації про " + name_city + "</a></div>");