<%= stylesheet_link_tag 'about', :media=> 'all' %>
<%= javascript_include_tag 'about' %> 

<div id="containers">	
	<div class="row">
		<div class="span3">
			<div id="left_panel">
				<h2>Sections</h2>
    			<ul>
      				<li><a class="about" href="aboutSite/">About Site</a>      			
      				<li><a id="our_partners" class="about" href="partners/">Our Partners</a>
      				<li><a class="about" href="authors/">Authors</a>
      				<li><a class="about" href="contacts/">Contacts</a>
      				<li><a class="about" href="additionalInf/">Additional Information</a>
    			</ul>
			</div>
		</div>
		<div class="span6">
			<div id="main">
				<h2>About Us</h2>
				<p>We want tell about us...</p>		
			</div>
		</div>
		<div class="span3">
			<div id="right_panel">		
				<h2>Advertisement</h2>
				<h4>12.07.2012</h4>
				<p>News1. More<a href="#"></a></p></br>
				<h4>12.07.2012</h4>
				<p>News2. More<a href="#"></a></p></br>
				<h4>12.07.2012</h4>
				<p>News3. More<a href="#"></a></p></br>
				<h4>13.07.2012</h4>
				<p>News1. More<a href="#"></a></p></br>
				<h4>13.07.2012</h4>
				<p>News2. More<a href="#"></a></p></br>
				<h4>13.07.2012</h4>
				<p>News3. More<a href="#"></a></p></br>
				<h4>13.07.2012</h4>
				<p>News4. More<a href="#"></a></p></br>
			</div>	
		</div>
	</div>
</div>
