<style>
	.container h1{
		margin-left: 25px; 
		margin-top: 15px;
		margin-bottom: 15px; 
		color: blue;
	}
	.container p{
		font-family: "Times New Roman";
		font-size: 14px;
		text-indent : 10px;
		width: 50%;
		float: left;
	}
	.container img{
		margin-left: 25px; 
		margin-right: 10px;
		float: left; 
		
	}
	#imgAuthor{
		position: absolute;
		left:0px;
	}
	#imgAuthorTwo{
		position: absolute;
		left:0px;
		top: 350px;
	}
</style>
<div class="containers">
	<h1>Developers Site</h1>
	<table style="margin-left:15px; margin-right:15px;">
		<tr>
			<td style="width:50%; height: 210px">
				<img src="", title='Author', style="width:200px; height: 200px">
			</td>
			<td style="width:50%; height: 210px; padding: 0;">
				<p>Developer #1 is lkmvlkjn gjnfg kbjndf gkbjv ktbvjg kblhfhblkdfj gbkjfd bkjdflbkg edh vjf vklsd hvkhd jvkh riu vhkf vhkjsh vhgfviuhrivh k fhfvkhvf iureh vurf hvurhvrhvir hjif hf kf</p>
			</td>
		</tr>
		<tr>
			<td style="width:50%; height: 210px">
				<img src="", title='Author', style="width:200px; height: 200px">
			</td>
			<td style="width:50%; height: 210px; margin: 0">
				<p>Developer #1 is lkmvlkjn gjnfg kbjndf gkbjv ktbvjg kblhfhblkdfj gbkjfd bkjdflbkg edh vjf vklsd hvkhd jvkh riu vhkf vhkjsh vhgfviuhrivh k fhfvkhvf iureh vurf hvurhvrhvir hjif hf kf</p>
			</td>
		</tr>
	</table>
	
</div>