<%= stylesheet_link_tag 'user', :media => "all" %>
<div id="help">
	<h1>Help</h1>
	<ul>
		<li><a href="#">Tutorial1</a></li>
		<li><a href="#">Tutorial1</a></li>
		<li><a href="#">Tutorial1</a></li>
		<li><a href="#">Tutorial1</a></li>
	</ul>
</div>