<%= stylesheet_link_tag 'user', :media => "all" %>
<div id="help">
	<h1>Help</h1>
	<ul>
		<li><a href='#'>Tutorial1</a></li>
		<li><a href='#'>Tutorial2</a></li>
		<li><a href='#'>Tutorial3</a></li>
		<li><a href='#'>Tutorial4</a></li>
	</ul>
</div>