<%= stylesheet_link_tag 'user', :media=> 'all' %>
<%= stylesheet_link_tag 'index', :media => "all" %>

<div id="content">
	<div id="map">
			<ul>
				<li><a href="/africa"><img src="/assets/map/africa.jpg", title='Africa', style="width:300px; height: 300px" ></a></li>
				<li><a href="/europa"><img src="/assets/map/europe.jpg" title='Europe' style="width:300px; height: 300px"></a></li>
				<li><a href="#"><img src="/assets/map/asia.jpg", title='Asia', style="width:300px; height: 300px"></a></li>
				<li><a href="#"><img src="/assets/map/australia.jpg", title='Australia', style="width:300px; height: 300px"></a></li>				
			</ul>
	</div>
	<div id="map2">
			<ul>
				<li><a href="#"><img src="/assets/map/atlantic_Ocean.jpg", title='Atlantic Ocean', style="width:300px; height: 313px" ></a></li>
				<li><a href="#"><img src="#" title='Baner Site' style="width:600px; height: 313px"></a></li>				
				<li><a href="#"><img src="/assets/map/indian_Ocean.jpg", title='Indian Ocean', style="width:300px; height: 313px"></a></li>			
			</ul>
	</div>
	<div id="map3">
			<ul>
				<li><a href="#"><img src="/assets/map/antarctica.jpg", title='Antarctica', style="width:300px; height: 300px" ></a></li>
				<li><a href="#"><img src="/assets/map/south_America.jpg" title='South America' style="width:300px; height: 300px"></a></li>
				<li><a href="#"><img src="/assets/map/north_America.jpg", title='North America', style="width:300px; height: 300px"></a></li>
				<li><a href="#"><img src="/assets/map/pacific_Ocean.jpg", title='Pacific Ocean', style="width:300px; height: 300px"></a></li>			
			</ul>
	</div>
</div>
