<div class="containers">
	<h1>Our Partners</h1>
	<p>We want to present our partners and short describe about them: </p>
	<p></p>
	<ul class="partner">
		<li><a id='company1' href="#" style="margin-left: 20px">Partner1</a><p class="describe">About company1 ...</p></li>
		
		<li><a id='company2' href="#" style="margin-left: 20px">Partner2</a><p class="describe">About company2 ...</p></li>
		
		<li><a id='company3' href="#" style="margin-left: 20px">Partner3</a><p class="describe">About company3 ...</p></li>
		
	</ul>
</div>
<script>
/*(function() {	
$('.partner').find('#describe').each(function(){ $(this).hide() });

	$('.partner').find('#con').each(function(){
		$(this).bind('click', function(){					
	  	if ( $(this).next('#describe').is(':visible') ) {
				$(this).next('#describe').fadeOut(100,function(){$(this).hide()});			
		}
		else {
				$(this).next('#describe').each(function(){$(this).hide()});
				$(this).next('#describe').fadeIn(300,function(){$(this).show()});				
		}
	  	
	  });	  
	});
	  
})();*/
</script>