<%= stylesheet_link_tag 'page_search', :media=> 'all' %>
<%= javascript_include_tag 'page/search' %>

<div id='title_description'>
	На даній сторінці можна здійснити пошук інформації, яка вас цікавить.
</div>
<div id='panel_left'>
	<div id='wrap_panel_left'>
		Panel1
	</div>
</div>
<div id='result'>
	Result
</div>
<div id='panel_right'>
	<div id='wrap_panel_right'>
		Panel2
	</div>
</div>
