#table_wraper{
	margin-left: 500px;
	margin-top: -180px;
	background: #789F13;
	padding: 1px 10px 10px 15px;
	width: 500px;
	border-radius: 5px;
	border: 2px solid green;	
}
#database_content{
	border: 2px solid black;
	width: 500px;
}
#database_content > thead td{
	padding: 10px;
	text-align: center;
	font-style: italic;
	font-family: "Times New Roman";
	font-size: 18px;
	cursor: auto;
}
#database_content tbody td{
	padding: 10px;
	text-align: center;	
	font-family: "Times New Roman";
	font-size: 16px;
	border-bottom: 1px solid #CDCECB;
}

#database_content tbody td a{
	color: red;
	font-style: italic;
	font-size: 14px;
}

#database_content tbody td a:hover{
	text-decoration: underline;
	color: #12ECF7;	
}

#attachment_wraper{	
	background: #EDB2F5;	
	width: 410px;
	border-radius: 5px;
	padding: 1px 10px 1px 15px;
	border: 2px solid red;
}