html {
  height:1000px;
  background:url(img/window-bg.png) #EEE;
}

/*   Body   */

body{
  width:1100px; 
  margin: auto;
  height:1000px;
}

body {
  font:10pt Tahoma, Sans-Serif;  
  color:black;   
}

h1 {
  font-size:180%;
  letter-spacing:1px;
}

.nav-pills li a{
  font-size:14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

/*#containers{
  margin-left: -500px;
}*/

/*   Main   */

#main h2 {
  font-size:130%;
  color:#293499;
  margin-left: -55px; 
}

#main h3 {
  color: #8E959B;
  margin-left: 15px;
}

#main h1 {  
  margin-left: 20px; 
  margin-top: 0px;
  margin-bottom: 2px;
  color: green;
}

#main {  
  width:100%;  
  margin-left: 50px;   
}

#main p {
	font-family: "Times New Roman";
	font-size: 14px;
	text-indent : 10px;
	width: 90%;
	margin-left:-50px;
  margin-top:-10px;
}

#main ul{
	list-style:none;
}
#main li a{
	text-decoration:none;
}

/*#main .picture {
  border-color:#45F;
}


#main .picture {
  float:left; 
  padding:5px; 
  border-style:solid; border-width:1px;
  margin:0 15px 15px 0;
}*/

/*   Left Panel   */
#left_panel {	  
  width:100%;  
  background:url(img/jungle-scenery-thumb9832082.jpg) white left top repeat-y;
  padding: 95px 0;  
  border-right: 2px solid #0989F8;   
  margin-top: 0px;
}

#left_panel h2 {
  display:none;
}

#left_panel ul {
  list-style:none;
  margin:50px 0;
  padding:0;
}

#left_panel li a {  
  background:#293499;
  color:white;
  border-color:white;
}

#left_panel li a:hover {
  background:#D00;
}

#left_panel li a {  
  display:block;
  margin:5px 0; padding:2px 15px;
  border-style:solid; border-width:1px 0;
  text-decoration:none;
}

/*   Right Panel   */

#right_panel {  
  width:100%;  
  border-left: 2px solid #0989F8;    
  margin-left:618px;
  margin-top: -1px;
}

#right_panel h4 {
  font-size:130%; 
  font-weight:bold;
  float:left;
  margin:0 5px;
}

#right_panel p {
  margin-left: 5px;
  font-size: 120%;
}

#right_panel h2 {
  background:url(img/news-head-bg.png) #DDE6FF left top repeat-x;
  margin:0 0 20px 0;
  padding:10px;  
}

#right_panel a {
  background:url(img/red-arrow.png) right center no-repeat;
  padding-right:13px;    
  color:#D00; 
}

/*   Content   */
/*#content {
  overflow:hidden;   
  width:100%;   
}

/*   IE   */
/** html body {
  height:100%;
}

* html #left_panel li a {
  height:1%;
}

* html #news h3 {
  margin-left:2.5px;
}

* html #news a {
  padding-left:1px;
}

/*   Other   */
#left_panel,
#right_panel {
  font-size:80%;    
}

#left_panel h2,
#right_panel h2 {
  font-size:125%;
  font-weight:bold;
  text-transform:uppercase;
}

#footer{
  position: static;
  height: 50px; 
  background: #6A092E;
  color: white;
  text-align:center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: "Times New Roman";
  font-size: 14px;

  margin-top:480px;  
 }

#main{
  width: 650px;  
}
#main .containers {
  width: 650px;
  margin-left: -70px;  
}
#main .containers h1{
  margin-left: 25px; 
  margin-top: 15px;
  margin-bottom: 15px; 
  color: green;   
}
#main .containers p{
  font-family: "Times New Roman";
  font-size: 14px;
  text-indent : 10px;
  min-width: 400px;
  margin-left:25px;
}



