#admin_toolbar{
 	margin-top: -30px;
 	/*border: 2px solid #EAEAEA; 	*/
 }
body {
  background: #EEE;
  margin-left: 20px;

}
#admin_toolbar_top{
	background: #343434;
	margin-left: -20px;
	
}
#admin_toolbar_top h3{
	color: white;
	margin-left: 20px;
	
}

tr.bold td > div{
	font-weight:bold;
}

.inbox, .sent, #admin_toolbar_message, .send{
	margin-left: 208px;
}

.text_message{
	margin-left: 150px
}
td.mail > input[type=text]{
	width: 300px;	
}

textarea{
max-width: 375px;		
min-width:  375px;		
max-height: 200px;		
min-height: 200px;		
}

.inbox{
	background: white;
	width: 800px;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #1E1EA7;			
}
.sent{
	background: white;
	width: 800px;
	padding: 30px;	
	border-radius: 5px;
	border: 1px solid #1E1EA7;			
}
.send{
	background: white;
	width: 389px;
	padding: 30px;	
	border-radius: 5px;
	border: 1px solid #1E1EA7;			
}


.brep-table { border-spacing:1px; border-collapse:compact; border:1px solid #99c2d6; table-layout:fixed}

thead.tbl-header th > div {padding:8px; min-height:14px}

thead th {font-size:0.9875em; border-bottom:1px solid #ccc; font-weight:bold;}
thead td {font-size:0.9875em; border-bottom:1px solid #ccc}
thead td > div {padding:7px; line-height:16px; height:14px; w-idth:215.25px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
thead td > div img {vertical-align:middle; margin:0 3px 0 0}
.tbl-item-rate {width:145px; text-align:center}
.tbl-item-rate span {display:block; width:13px; height:12px; margin: 0px 12px }
thead td.tbl-item-rate > div {height:14px; padding:7px 0}
thead th, thead td {border-right:1px solid #ccc; text-align:left}
thead th:last-child, thead td:last-child {border-right:0}

td.tbl-item-rate span.appt-rate {color: green; font-size: 12px; font-weight:bold;}
td.tbl-item-rate span.bad-rate {color:red; font-size: 12px; font-weight:bold;}
td.tbl-item-rate span.no-rate {color:black; font-size: 12px; font-weight:bold;}

thead {cursor:pointer}  
  
.digg_pagination .page_info {
	background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 25em;
    margin-bottom: 0.3em;
    text-align: center; 
}
.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}

.type_status{
  margin-top: 300px;
}