html {
  height:1000px;
  background:url(img/uzor.jpeg) #EEE;
}

body{
	width:1200px;	
	margin: auto;
		
}

#map li, #map3 li, #map2 li{	
	display: block;
	float: left;
}

#map{
	margin-top:0;
	padding: 1px 0; 	
	margin-bottom: -6px;
	float: left;	
}
#map ul, #map3 ul, #map2 ul{
	list-style: none;
	margin-left: 0px;
}
#content{
	float: left;	
	font-family: "Times New Roman";
	margin-top: -1px;
	font-size: 14px;	
	width:1200px;
}

.send{
	margin-left:100px;	
}

.input{
	margin-left:100px;
	margin-right:100px;
	
}
.sent{
	margin-left:100px;
	margin-right:100px;	
}

td.mail{
	width: 100px;
}

.mail tr > td > input[type=text]{
	width: 500px;	
}
textarea{
max-width: 600px;		
min-width:  600px;		
max-height: 400px;		
min-height: 400px;		
}

#forgot_password h2{
	color: blue;
}
#forgot_password{
	margin-left: 100px;	
}



.brep-table {width:100%; border-spacing:1px; border-collapse:compact; border:1px solid #99c2d6; table-layout:fixed}

thead.tbl-header th > div {padding:8px; min-height:14px}

thead th {font-size:0.9875em; border-bottom:1px solid #ccc; font-weight:bold;}
thead td {font-size:0.9875em; border-bottom:1px solid #ccc}
thead td > div {padding:7px; line-height:16px; height:14px; w-idth:215.25px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
thead td > div img {vertical-align:middle; margin:0 3px 0 0}
.tbl-item-rate {width:145px; text-align:center}
.tbl-item-rate span {display:block; width:13px; height:12px; margin: 0px 12px }
thead td.tbl-item-rate > div {height:14px; padding:7px 0}
thead th, thead td {border-right:1px solid #ccc; text-align:left}
thead th:last-child, thead td:last-child {border-right:0}

td.tbl-item-rate span.appt-rate {color: green; font-size: 12px; font-weight:bold;}
td.tbl-item-rate span.bad-rate {color:red; font-size: 12px; font-weight:bold;}
td.tbl-item-rate span.no-rate {color:black; font-size: 12px; font-weight:bold;}

tr.bold{
	font-weight: bold;
}
thead {cursor:pointer}
  
.digg_pagination .page_info {
	background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 25em;
    margin-bottom: 0.3em;
    text-align: center; 
}
.digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}

.type_status{
  margin-top: 300px;
}