html {
  height:1000px;
  background:url(img/uzor.jpeg) #EEE;
}

body{
	width:1100px;	
	margin: auto;
	min-height:1000px;
}

#signin, #signup{
	float: left;	
	font-family: "Times New Roman";
	margin-top: -2px;
	font-size: 14px;	
}
#signin h2, #signup h2{
	color: #4959F0;
}

#remember_me label{ 
	max-width: 150px;
}
#remember_me{
	display: inline;
}

#panel_login{
	margin-left: 860px;		
}
.tab-pane h2{
	font-size: 20px;
	color: green;
	font-family: "Times New Roman";
}

#title{	
	float: left;	
	width: 1100px;
	text-align:center;
	height: 50px;
	background: red;
}
#title h1{
	margin-top:7px;
	font-size: 30px;
}

#baner, #baner2, #baner3{
	width: 280px;
	height: 300px;
	overflow: scroll;
	padding: 1px 0; 	
	margin-bottom: -2px;
	float: left;

}
#baner ul, #baner2 ul, #baner3 ul{
	width: 10000px;
	list-style: none;
	margin-left: 0px;
}
#baner li, #baner2 li, #baner3 li{
	float: left;
}

#signup{
	margin-left: 50px;
	margin-top: 10px;
}
#signup h1{
	font-size: 30px;
	color: blue;
}

#footer{
	position: static;
	height: 50px;	
	background: #6A092E;
	color: white;
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	font-family: "Times New Roman";
	font-size: 14px;

	margin-top: 600px;
	
 }