html {
  height:1000px;
  background:url(img/uzor.jpeg) #EEE;
}
body{
	/*width:1100px;*/
	margin: auto;
	min-height:1000px;
	min-width:1270px; 	
}
.panel{	
	width: 300px;	
	min-height:950px;	
	margin-left: 15px;		
}


#description{		
	font-size:1em;
	font-family: "Times New Roman"; 
	padding:5px 5px 5px 5px; 	
	background: #eee;	
	border:1px solid #d6d6d6; 
	width: 240px;
}

#map_canvas{	
	width: 78%;	
	min-height:952px;
	float: right;	
	border-left: 2px solid #0989F8;			
}

#footer{
	position: static;
	height: 50px;	
	background: #6A092E;
	color: white;
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	font-family: "Times New Roman";
	font-size: 14px;
	margin-top: 2px;	
}

#info{
	margin-left: 15px;	
}

#text_atention{
	color: red;
	font-size: 14px;
	font-family: "Times New Roman";
	margin-left: 10px;
	margin-top: -10px;
}
#text_warning{
	font-style: italic;
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
}
#around_warning{
	background: #F5A9A9;	
	border: 2px solid #DF0101;
	border-radius: 10px;
	font-size: 13px;
	margin-bottom: 10px;
	width: 280px;
	text-align: center;
	margin-top: -25px;
}

#search{
	margin-left: 3px;
	margin-top: -8px;
}


