#my_information{
	border:1px solid black;
	background: #CA6F00;
	border-radius: 5px;
	width: 580px;
	margin-top: 15px;
	margin-left: 20px;
	padding:10px 20px;	
}

#my_information_green{
	border:1px solid blue;
	background: #0E6620;
	border-radius: 5px;
	width: 580px;
	margin-top: 15px;
	margin-left: 20px;
	padding:10px 20px;	
}

#my_information_blue{
	border:1px solid red;
	background: #044475;
	border-radius: 5px;
	width: 580px;
	margin-top: 15px;
	margin-left: 20px;
	padding:10px 20px;	
}

#my_information h1, #my_information_green h1, #my_information_blue h1{
	color: white;
}

.information td{
	font-size: 14px;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	color: white;
	border-bottom: 1px solid #D58F38;
	padding-top: 10px;	
}
input[type=text]{
	background: #D6D6D6;
}

td{
	min-width: 20px;
}

.date select{
	width: 180px;
	background: #D6D6D6;
}
.birthday select{
	width: 140px;
	background: #D6D6D6;
}
.sel select{
	width: 210px;
	background: #D6D6D6;
}

td.titlename {
	padding-left:40px;
}


#secondary_education{
	color: white;
}

#secondary_education h1{
	color: #08C;
	text-align: center;
	font-size: 16px;
}
.information_education td{
	font-size: 14px;
	font-family: Helvetica,Arial,Verdana,sans-serif;
	color: white;
	/*border-bottom: 1px solid #D58F38;*/
	padding-top: 10px;	
	text-align: right;
}

