.titlename {
	padding-left:40px;
	padding-bottom:20px;
	padding-top:5px;
	font-size: 18px;
	font-family: "Times New Roman";
	font-style: italic;
	width: 420px;
	font-weight: bold;
}

.title_c{
	margin-left: 40px; 
	margin-right: 10px; 
	margin-bottom: 10px; 
	font-size: 14px;
	font-family: "Times New Roman";
	color: #293EF7;
	border-bottom: 1px solid #293EF7;
}

.title_contact{
	margin-left: 40px; 
	margin-right: 10px; 
	margin-bottom: 10px; 
	font-size: 14px;
	font-family: "Times New Roman";
	color: #293EF7;
}

.title_describe{
	font-family: "Times New Roman";	
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
	max-width: 300px; 
}

.profile_content{
	border: 3px solid #F7C6F9;	
	border-radius: 10px;
	width: 470px;
}

.sub{
	margin-left: 40px; 
	font-family: "Times New Roman";
	color: red;
	cursor:pointer;
	font-size: 18px;
	padding: 3px;
}
.sub:hover{
	background:#DFDFE4;
}

.sub span{
	margin-left: 50px;
	color: #333;
	font-size: 14px;
}

#table_contacts{
	/*margin-left: 50px;*/
}

#table_contacts td{
	min-width: 20px;
}

.school{
	vertical-align: top;
	min-width: 160px;
}

.title_describe_education{
	color: #0909E9;
	font-size: 11pt;
	font-family: "Times New Roman";
	max-width: 300px;
}
.title_education{
	margin-left: 40px; 
	margin-right: 10px; 
	margin-bottom: 10px; 
	font-size: 14px;
	font-family: "Times New Roman";
	color: #757575;
}
#online{
	margin-top: -45px;
	margin-bottom: 30px;
	font-family: "Times New Roman";
	font-style: italic;	
	font-weight: bold;
}
#online span{
	margin-left: 410px;	
	color: #E5E5E9;	
	font-size: 18px;
	
}
#online div{
	margin-left: 120px;
	margin-top: 20px;
	color: #E5E5E9;
	font-size: 16px;
}

#friend{
	background: #DADAE0;	
	padding: 5px;
	height: 50px;
}
#friend input[type=submit]{
	width: 100%;
}

#friend_wrapr{
	margin-top: 5px;
	background: #7B4ECE;
	padding: 5px;
	border-radius: 6px;

}

