/*#navigation li a{
	display: inline;
	color: white;
}
#navigation{
	position: absolute;
	top:0;
	left: 0;
	right:0;	
	background: blue;			
	padding: 0 0 0 150px;
	width:100%;

}*/
/*
#navbar ul#right { 
        margin: 0; 
        padding: 10px; 
        list-style-type: none; 
        text-align: right; 
        background-color: green;
        position: absolute;
        top:0;
        left:0;
        right:0;
        width:100%;                
        }

#navbar ul#right li {  
        display: inline; 
        margin-right: 15px;
        }

#navbar ul#right li a { 
        text-decoration: none; 
        padding: .1em 1em; 
        color: #fff; 
        background-color: green;                         
        } 
 
#navbar ul#right li a:hover { 
		margin-top:5px;
        color: #000; 
        background-color: #fff; 
        }

 
 */