#footer{
	position: static;
	height: 50px;	
	background: #6A092E;
	color: white;
	text-align:center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	font-family: "Times New Roman";
	font-size: 14px;

	margin-top: 910px;
	
 }

#help, #chapter{
	margin-top: 50px;
	margin-left: 15px;
}


