<header>
		
           <div class="navbar-inner">
              
					<ul class="nav nav-pills pull-right">					
						<li ><%= link_to "Sign up", new_user_registration_path %></li>  
                        <li ><%= link_to "Sign in", new_user_session_path %></li>  						
					</ul>

					<ul class="nav nav-pills pull-left">
						<li><a href="http://vk.com", title="G", alt="G"><%= image_tag("img/logo.jpg", :alt => "G") %></a></li>																	
					</ul>
				
			
		</div>
		
	</header>