<!DOCTYPE html>
<html>
	<head>
	  <title></title>
	  <%= stylesheet_link_tag 'bootstrap_and_overrides'%>
	  <%= javascript_include_tag 'jquery-1.7.2' %>     
	  <%= csrf_meta_tags %>
	</head>
	<body>	
		<section>	  
	      <%= yield %>    
	    </section>
	</body>
</html>
