<!DOCTYPE html>
<html>
<head>
  <title>MyOwnSite</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<section>
	    <div class="container">
    
        <div/>

    </section>
    <%= yield %>

	<footer>
		<div id="container2">
 			<div id="content"></div>
		</div>
			<div id="footer">Copyright © 2012 Lviv LEO Corporation. All Rights Reserved. Информация для контактов: leo1021@mail.ru. Правила использования материалов сайта. </div>
	</footer>
</body>
</html>
